numpy==1.26.4
pandas==2.2.3
pillow==10.3.0
skorch==0.15.0
transformers==4.48.0
python-doctr[torch]==0.10.0
uvicorn==0.34.0
fastapi==0.115.6
altair==5.5.0
rapidfuzz==3.11.0
celery[redis]==5.4.0
redis==5.2.1
python-multipart==0.0.18
gunicorn==22.0.0
